html,
body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.page {
  max-width: 615px;
  margin: 0 auto;
  padding: 5vw 2rem;
}

h2 {
  margin-bottom: 10px;
}

ul,
p {
  margin-top: 10px;
}

.consultation-btn {
  display: block;
  width: fit-content;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  text-decoration: none;

  background: white;
  color: black;
  border: 2px solid black;
  transition: background 0.3s ease;
}
.consultation-btn:hover {
  background: black;
  color: #fff;
}
