---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import BookConsultation from "../components/BookConsultation.astro";
// import CalCom from "../components/CalCom.astro";
import Footer from "../content/footer.md";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
		<title>Andrei Robu — Software Engineer</title>
	</head>
	<body>
		<div class="page">
			<Nav />
			<slot />
			<hr>
			<Footer />
			<BookConsultation />
		</div>
	</body>
</html>
